hw_1/cmake-build-debug
hw_1/build
hw_1/tank_game
hw_1/output.txt
hw_1/errors.txt
hw_1/input_errors.txt
hw_1/output_*.txt

hw_2/cmake-build-debug
hw_2/build
hw_2/tanks_game
hw_2/log.txt
hw_2/errors.txt
hw_2/input_errors.txt
hw_2/output_*.txt
hw_2/game_state.txt

hw_3/cmake-build-debug
hw_3/build
hw_3/tanks_game
hw_3/log.txt
hw_3/errors.txt
hw_3/input_errors.txt
hw_3/output_*.txt
hw_3/game_state.txt
hw_3/**/**.so
hw_3/**/**.o