hw_1/cmake-build-debug
hw_1/build
hw_1/tank_game
hw_1/output.txt
hw_1/errors.txt
hw_1/input_errors.txt
hw_1/output_*.txt

hw_2/cmake-build-debug
hw_2/build
hw_2/tank_game
hw_2/output.txt
hw_2/errors.txt
hw_2/input_errors.txt
hw_2/output_*.txt
